*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
}


/* header section */
header{

        background-image: url("262756.jpg");
        height: 80vh;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
} 

.center{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 250px;
        color:white;
}

.center h1{

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 80px;
        font-weight: 600;
        padding:20px;
}
.center h2{

        font-size: 45px;
        font-weight: 600;
}


/* navbar */

.navbar{

        background:rgb(88, 74, 138);
        border-bottom: 1px solid black;
        display: flex;
        justify-content:space-between;
}

.navbar-toggler-icon{

        color:#fff;
        font-size:1.4em;
        padding:5px;
       
}

.navbar a{

        color:#fff;
        font-size:1em;
        
        
}

.navbar a:hover{

        color:black;
}



/* about me section */

.about-me{

        background:rgb(88, 74, 138);
        
}

.about{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:20px 0;
        color:rgb(235, 229, 229);     
}

.about h3{

                font-family: sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin:5px;
}

.about p{
        
        font-family: monospace;
        font-size: 1.5rem;
        margin:5px;
}

.social-icons a
{
        font-size: 2em;
        padding: 10px 15px;
        color:#fff;
        text-decoration: none;
}

.social-icons a:hover{

        color:black;
}

.about .btn{

        background:black;        
        padding:5px 15px;
        margin-top: 30px;
        margin-bottom: 5px;
        border:1px solid black;
        font-size:1.2em;
        color:white;
}


.btn:hover{

                background:rgb(228, 226, 226);
                color:black;
                cursor: pointer;
}


/* skill css */

.skill{

       
        height: 60vh;
        margin:40px 0;
}


.skill-container{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background:#fff;
        margin-top:30px;
}

.skill-container p{

        color:black;
        text-align: center;
        font-size: 1.5em;
        padding-top:10px;
}

.skill h1{

        font-size:2.5em;
        font-weight: 600;
        color: rgb(54, 52, 52);
        text-align: center;
        margin-top:80px;
}

.skill-container .box1{

        background:linear-gradient(to right,skyblue,teal);
        width: 250px;
        height: 250px;
        border-radius: 25px;
        
}

.box1 img{

        width:100px;
        height: 100px;
        margin-top:70px;
        margin-left:75px;
       
}

.skill-container .box2{

        background:linear-gradient(to right, pink,orange );
        width: 250px;
        height: 250px;
        border-radius: 25px;
        
}
.box2 img{

        width: 100px;
        height: 100px;
        margin-top:70px;
        margin-left:75px;
}

.skill-container .box3{

        background:linear-gradient(to right,rgb(231, 216, 9),rgb(128, 68, 0));
        width: 250px;
        height: 250px;
        border-radius: 25px;
        
}
.box3 img{

        width: 100px;
        height: 100px;
        margin-top:70px;
        margin-left:75px;
}

.skill-container div:hover{

        opacity: 0.8;
}
/*work section */

.work h1{

        font-size:2.5em;
        font-weight: 600;
        text-align: center;
        padding:20px 0;
      
}

.row{

        padding:0 90px;
}
.img img{
        
        width:30vw;
        cursor: pointer;
}



/* footer css */
.footer{

                padding:30px;
                height: 20vh;
                background:black

}
.footer p{

                color:white;
                margin-top: 35px;
                font-size: 25px;
                font-family: sans-serif;
                letter-spacing: 1px;
                text-align: center;
}

.footer span{

                color:red;
}
.checkbtn{

        font-size: 30px;
        color:#fff;
        float: right;
        cursor: pointer;
        display: none;
}

#check
{
        display: none;
}
@media (max-width:566px)
{
      /* header */
        #home{
                height: 85vh;
                text-align: center;
        }
        .center{

                margin:0 20px;
        }
        .center h1{

                font-size: 2.5em;
        }

        .center h2{

                font-size: 2em;
        }

        /* skill media queries */
        .skill{

                height: 150vh;
                
        }

        .skill-container{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #fff;
                padding:10px 0;
                
        }

        .skill-container h1
        {
                        font-size: 3em;
                        margin-top: -35px;
                        margin-bottom: 10px;        
                        border:none;      
        }

       .skill-container div{

                 margin:10px;
       }      

        .box1 p{

                font-size: 1.5em;
                padding:10px 0;
       }
       .box2 p{

                font-size: 1.5em;
                padding:10px 0;
       }
       .box3 p{

        font-size: 1.5em;
        padding:10px 0;
        } 


        .btn{

                padding:10px 20px;
                font-size: 20px;
                margin-bottom:-110px;
        }

        /* about section */

             .about-me{

                        height:75vh;
                               
             }   

             .about h3{
                     margin-top:40px;
             }
             
             .about p{

                        padding:5px 10px;
                        margin:5px 10px;
                        font-size:1.5em;
             }
        

             /* work */

        .img img{
                
                width:80vw;
                cursor: pointer;
                margin-left: -50px;
        }

        .row .col-md-6{
               
                padding:60px 0;
                
        }
        
        /* footer */

        .footer p{

                margin-top:50px;
        }

}